<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Weather</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <!-- Use some bootstrap CSS and google fonts to quicken the process -->
    <!-- you shall also add a favicon -->
    <link
      rel="shortcut icon"
      href="https://img.icons8.com/office/16/000000/sunset--v2.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <form method="POST" action="/openWeather/find" class="find-location">
          <input type="text" placeholder="Find your location..." name="city" required>
          <input type="submit" value="Find">
      </form>
    </div>

    <div class="forecast-table">
        <div class="container">
            <div class="forecast-container">
                <div class="today forecast">
                    <div class="forecast-header">
                        <div class="day"><%= today %></div>
                        <div class="day"><%= day %></div>
                        <div class="date"><%= date %> - <%= month %></div>
                    </div> <!-- .forecast-header -->
                    <div class="forecast-content">
                        <% if (weather.cod != '404') { %>
                        <div class="location"><%= weather.name %> , <%= weather.sys.country %></div>
                        <div class="degree">
                            <div class="num"><%= weather.main.temp %><sup>o</sup>C</div>
                            <div class="forecast-icon">
                                <img src="/images/icons/icon-1.svg" alt="" width=90>
                            </div>
                        </div>
                        <span><img src="/images/icon-umberella.png" alt=""><%= weather.main.humidity %>%</span>
                        <span><img src="/images/icon-wind.png" alt=""><%= weather.wind.speed * 1.6 %> km/h </span>
                        <span><img src="/images/icon-compass.png" alt="">Longitude: <%= weather.coord.lon %> -
                            Latitude: <%= weather.coord.lat %></span>
                    </div>
                    <%} else { %>
                    <div class="forecast-content">
                        <h1> Not Found. <br>Please enter a valid location 🙄 </h1>
                        <br><br><br>
                    </div>

                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
</body>
</html>